* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9c9c9c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

section h4 {
  color: #df3011;
  text-transform: uppercase;
}

header {
  margin-top: 80px;
}

.container img {
  width: 200px;
}

i {
  color: #df3011;
  cursor: pointer;
  font-size: 30px;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

li {
  border-radius: 20px;
  border: 1px solid #df3011;
  background-color: #df3011;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

li:hover {
  background-color: #ffffff;
  color: black;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

header .container {
  margin: auto;
  width: 90vw;
  margin-bottom: 60px;
}

.main-head {
  height: 100px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
section .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  padding: 15px 15px;
  margin-bottom: 10px;
  width: 90vw;

  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
}

.article-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

.head-article {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.modal-content h4 {
  color: black;
}

.btn-add-article {
  background: none;
  border: none;
  padding: auto;
  font-size: 12px;
  color: #df3011;
}

.btn-add-article:hover {
  background-color: #df3011;
  border-radius: 10px;
  color: white;
  padding: 2px 5px;
}

.form-add-article {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-add-article input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-add-article button {
  border-radius: 20px;
  border: 1px solid #df3011;
  background-color: #df3011;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

section table {
  display: flex;
  justify-content: center;
}

section tr {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

section td {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 30px;
  transition: 0.3s ease-in-out;
}

section td:hover {
  border: 1px solid #df3011;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

footer .container {
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px 15px;
  width: 90vw;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
